/fixed-library/__pycache__
/fixed-library/*/__pycache__
/fixed-library/*/sim_build
/fixed-library/*/results.xml
/fixed-library/*/*.json
/fixed-library/fixed-point-models/fixed_point_models/__pycache__
/fixed-library/fixed-point-models/build
/fixed-library/fixed-point-models/fixed_point_models.egg-info
/equation-high-level-synthesis/module-*/*
/izhikevich-core/izhikevich-tb/sim_build
/izhikevich-core/izhikevich-tb/results.xml
/izhikevich-core/izhikevich-tb/__pycache__
/izhikevich-core/izhikevich-tb/output.log
/izhikevich-core/izhikevich-tb/temp.sv
/izhikevich-core/24-bit-izhikevich-tb/sim_build
/izhikevich-core/24-bit-izhikevich-tb/results.xml
/izhikevich-core/24-bit-izhikevich-tb/__pycache__
/izhikevich-core/24-bit-izhikevich-tb/output.log
/izhikevich-core/scaled-izhikevich-tb/sim_build
/izhikevich-core/scaled-izhikevich-tb/results.xml
/izhikevich-core/scaled-izhikevich-tb/__pycache__
/izhikevich-core/scaled-izhikevich-tb/output.log
/izhikevich-core/18-bit-izhikevich-tb/output.log
/izhikevich-core/18-bit-izhikevich-tb/sim_build
/izhikevich-core/18-bit-izhikevich-tb/results.xml
/izhikevich-core/18-bit-izhikevich-tb/__pycache__
/izhikevich-core/18-bit-izhikevich-tb/output.log
/izhikevich-core/stdp/stdp-tb/sim_build
/izhikevich-core/stdp/stdp-tb/results.xml
/izhikevich-core/stdp/stdp-tb/__pycache__
/izhikevich-core/stdp/stdp-tb/output.log
/izhikevich-core/izhikevich-matrix/sim_build
/izhikevich-core/izhikevich-matrix/results.xml
/izhikevich-core/izhikevich-matrix/__pycache__
/communication/spi/spi-tb/peripheral-tb/results.xml
/communication/spi/spi-tb/peripheral-tb/__pycache__
/communication/spi/spi-tb/peripheral-tb/sim_build
/communication/spi/spi-4-byte-reciever/results.xml
/communication/spi/spi-4-byte-reciever/__pycache__
/communication/spi/spi-4-byte-reciever/sim_build
/communication/spi/pins-test/results.xml
/communication/spi/pins-test/__pycache__
/communication/spi/pins-test/sim_build
/ram/ram-tb/__pycache__
/ram/ram-tb/sim_build
/ram/ram-tb/results.xml
