/fixed-library/__pycache__
/fixed-library/*/__pycache__
/fixed-library/*/sim_build
/fixed-library/*/results.xml
/fixed-library/fixed-point-models/fixed_point_models/__pycache__
/fixed-library/fixed-point-models/build
/fixed-library/fixed-point-models/fixed_point_models.egg-info
/equation-high-level-synthesis/module-*/*
/izhikevich-core/izhikevich-tb/sim_build
/izhikevich-core/izhikevich-tb/results.xml
/izhikevich-core/izhikevich-tb/__pycache__
